<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjh.online.restaurant.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.cjh.online.restaurant.entity.Order" >
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="order_no" jdbcType="BIGINT" property="orderNo"/>
    <result column="pay_id" jdbcType="VARCHAR" property="payId"/>
    <result column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="address_id" jdbcType="INTEGER" property="addressId"/>
    <result column="payment" jdbcType="REAL" property="payment"/>
    <result column="payment_type" jdbcType="INTEGER" property="paymentType"/>
    <result column="postage" jdbcType="INTEGER" property="postage"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="payment_time" jdbcType="DATE" property="paymentTime"/>
    <result column="send_time" jdbcType="DATE" property="sendTime"/>
    <result column="end_time" jdbcType="DATE" property="endTime"/>
    <result column="close_time" jdbcType="DATE" property="closeTime"/>

    <result column="create_time" jdbcType="DATE" property="createTime"/>
    <result column="update_time" jdbcType="DATE" property="updateTime"/>
   <!-- <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_no" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="address_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="payment" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="payment_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="postage" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="payment_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="send_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="close_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>-->
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, user_id,pay_id, address_id, payment, payment_type, postage, status, payment_time,
    send_time, end_time, close_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjh.online.restaurant.entity.Order" >
    insert into orders (id, order_no, user_id,
      address_id, payment, payment_type,
      postage, status, payment_time, 
      send_time, end_time, close_time, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, 
      #{addressId,jdbcType=INTEGER}, #{payment,jdbcType=DECIMAL}, #{paymentType,jdbcType=INTEGER},
      #{postage,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.cjh.online.restaurant.entity.Order" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="postage != null" >
        postage,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        #{postage,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <insert id="addOrder">
    insert into orders(order_no, user_id, address_id, payment, postage, status,create_time)
     values(#{orderNo},#{userId},#{addressId},#{payment},#{postage},#{status},now());

  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjh.online.restaurant.entity.Order" >
    update orders
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        postage = #{postage,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjh.online.restaurant.entity.Order" >
    update orders
    set order_no = #{orderNo,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      payment = #{payment,jdbcType=DECIMAL},
      payment_type = #{paymentType,jdbcType=INTEGER},
      postage = #{postage,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatePayMessage">
    UPDATE orders SET pay_id = #{payId},status = #{status},payment_time = now() where  order_no = #{orderNo}
  </update>


  <select id="selectByUserIdAndOrderNo" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"></include>
    from orders
    where order_no = #{orderNo}
    and user_id = #{userId}
  </select>


  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="long">
    SELECT
    <include refid="Base_Column_List">
    </include>
    FROM  orders
    where order_no = #{orderNo}
  </select>



  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="int">
    SELECT
      <include refid="Base_Column_List"/>
    from orders
    where user_id = #{userId}
    order by create_time desc
  </select>



  <select id="selectAllOrder" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from orders
    ORDER BY  create_time desc
  </select>




</mapper>